/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}

* {
  box-sizing: border-box;

}

html {
  height: 100%;
  background: var(--secondary);
  transition: 1s .5s ease;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

h1 {
  color: var(--highlight-secondary);
  font-size: 1.5em;
}

.heading {
  background-color: var(--secondary);
  display: block;
  margin: 0;
  padding: .5em;
  margin-block-end: .5em;
}

.space {
  background: var(--highlight-primary);
  padding: .1em;
  color: #050840;
}
/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* pop-up */
.pop-up {
  position: fixed;
  background: var(--highlight-primary);
  padding: 1em;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  
  z-index: 2;
  box-shadow: var(--secondary) 0px 22px 70px 4px;
  display: none;
}

.pop-up-show {
  display: block;

}

.pop-up h1, .pop-up p, h1  {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.pop-up p {
  font-size: .7em;
}

.control-codes {
  background-color: var(--highlight-secondary);
  padding: .1em .2em .1em .2em;
  font-weight: 700;
}
/* Animatie 1 */
a:nth-of-type(1) {
}
a:nth-of-type(1):hover {
color: wheat;
}

.active1 {
  font-size: 2em;
  color: wheat;
  border-radius: 2em;
  transition: .5s .1s ease;
}

/* Animatie 2 */
.passion {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.passion-show {
  display: block;
  transition: 1s 1s ease;

}

/* Animatie 3 */
.gradient-background{
  background: linear-gradient(#e66465, #9198e5);  
  display: inline-table;

  & a:nth-of-type(3) {
    background: none;
  }
}

/* Animatie 4 */


.rotation {
  transition: 1s 0s ease;
  color: var(--highlight-secondary);
  font-weight: 700;
  font-size: 1.5em;
  transform: rotateY(1turn);
}

/* animatie 5 */

section a {
  transition: 1s .3s ease;
}

.cold {
  background: var(--highlight-primary);
  color: var(--secondary);
  padding: 1em;
  border-radius: 2em;
  font-weight: 700;
}

/* animatie 6 */

.skew {
  transition: .5s .3s ease;
  transform: skew(10deg, -10deg);
  margin: .5em;
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  border-radius: 2em;
  margin: .5em
}

/* animatie 7 */

.brrrrr {
  animation: socold 1.5s ease;
}

@keyframes socold {
  0% {
    transform: skew(-10deg, -10deg);
    margin-left: -.5em ;
  }
  10% {
    margin-left: .5em ;
    transform: skew(10deg, 10deg);

  }

  20% {
    margin-left: -.5em ;
    transform: skew(-10deg, -10deg);

  }

  25% {
    transform: skew(10deg, 10deg);

  }

  30% {
    margin-left: -.5em ;
    transform: skew(-10deg, -10deg);

  }

  40% {
    margin-left: .5em ;
    transform: skew(10deg, 10deg);


  }
  
  50% {
    transform: skew(-10deg, -10deg);
    margin-left: -.5em ;

  }

  60% {
    margin-left: .5em ;
    transform: skew(10deg, 10deg);

  }

  70% {
    margin-left: -.5em ;
    transform: skew(-10deg, -10deg);

  }

  80% {
    margin-left: .5em ;
    transform: skew(10deg, 10deg);

  }
  
  90% {
    margin-left: -.5em ;
    transform: skew(-10deg, -10deg);

  }
  
  100% {
    transform: skew(0);
    margin-left: .0 ;

  }
  
}

  /* animatie 8 */
  .unfixed {
    transition: 5s .2s ease;
    animation: freefall 2s ease;
    position: absolute;
  }

  @keyframes freefall {
    0%{
      margin-top: 0em;
      rotate: 3turn;
      }

    75%{
      margin-top: 40em; 
      rotate: 6turn;
    }
  }